.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.titleSmaller {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.criteria {
  color: #aaa;
  font-size: .7rem;
  font-style: italic;
}

.submit {
  padding: 1rem;
  background: #f5f5f5;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
}

.submit:hover {
  background: #ddd;
}

.form {

}

.form label {
  position: relative;
  display: block;
}

.errors {
  position: absolute;
  display: flex;
  right: calc(100% + 2rem);
  width: 300px;
  padding: 1rem;
  text-align: right;
  background: #dc354533;
  color: #dc3545;
  bottom: 0;
}

.good {
  position: absolute;
  display: flex;
  right: calc(100% + 2rem);
  width: 300px;
  padding: 1rem;
  text-align: right;
  background: #28a73453;
  color: #28a745;
  bottom: 0;
}

.inputGood {
  border-bottom-width: 2px;
  border-bottom-color: #28a745;
  color: #aaaaaa;
}

.inputFail {
  border-bottom-width: 2px;
  border-bottom-color: #dc3545;
}